@import url('https://fonts.googleapis.com/css?family=Manrope');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Secular+One');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&family=Vesper+Libre&display=swap');



*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

html{
    color-scheme: light dark;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    font-smooth: always !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background: var(--light-bg);
}

img, svg, picture, video{
    display: block;
    width: 100%;
    height: 100%;
}

.container{
    margin: 0 auto;
    max-width: 80%;
}

:root{
    scroll-behavior: smooth !important;
    --light-bg: #fff;
    --dark-bg: #1f1f1f;
    --text-color: #555; 
    --text-pop-color: #444;
    --accent-color: #9638d5;
    --accent-color-dark: #7e3a9c;
    --accent-color-darker: #5d417c;
    --primary-gradient: linear-gradient(135deg, #e462d8, #9638d5);
    --secondary-gradient: linear-gradient(135deg, #5d417c 10%,#be5072);
    --primary-btn-gradient: linear-gradient(45deg, #e462d8, #9638d5);
    --secondary-btn-gradient: linear-gradient(135deg, #e6e6e6, #f5c8f0);
    --heading-color: #2f2f2f;
}

h1, h2, h3, h4, h5, h6{
    color: var(--heading-color);
    font-family: 'DM Sans';
    font-weight: 600;
}

p, span, i, a{
    color: var(--text-color);
}

p{
    font-family: 'Manrope';
    font-weight: 500;
}

a{
    text-decoration: none;
    transition: 0.05s ease;
    font-family: "DM Sans";
}

.in_view{
    color: var(--accent-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* font-family: 'Montserrat'; */
    margin-bottom: 40px !important;
    gap: 40px;
}

header #header_name{
    font-family: "Montserrat";
    color: var(--accent-color-dark);
}

header a{
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color);
    font-size: clamp(12px, 4vw, 16px);
    transition: 0.05s ease;
}

header ul a:hover{
    color: var(--accent-color);
}

header ul{
    display: flex;
    list-style: none;
    font-weight: 600;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0 40px;
}

.intro_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    min-height: 60vh;
    gap: clamp(32px, 6vw, 76px);
    margin-bottom: 20px;
}

.intro_section .main{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: clamp(32px, 2vw, 76px);
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 40px 20px;
    padding: 20px;
    border-left: 2px solid var(--accent-color);
}

.socials img{
    width: 25px;
    height: 25px;
    filter: invert(0.5);
    transition: 0.2s ease-in;
    cursor: pointer;
}
.socials img:hover{
    filter: invert(0.2);
}


.intro_content{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 10px;
}

.intro_content h1{
    font-size: clamp(28px, 4vw, 60px);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: max-content;
}

.intro_content h3{
    font-size: clamp(16px, 4vw, 22px);
    color: var(--text-pop-color);
    margin-bottom: 16px;
}

.intro_content p{
    font-size: clamp(14px, 2vw, 16px);
    margin-bottom: 20px;
    line-height: 1.6;
}

.intro_content .btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 14px;
    padding: 10px 0;
}

.intro_content .contact_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--primary-btn-gradient);
    padding: 10px 20px;
    color: #fff;
    max-width: fit-content;
    border-radius: 6px;
    font-weight: 600;
    box-shadow: 2px 2px 4px 2px rgba(31, 31, 31, 0.15),
                        -2px -2px 5px 2px rgba(236, 236, 236, 0.2);
}

.intro_content .download_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--accent-color);
    background: transparent;
    padding: 10px 20px;
    color: var(--accent-color);
    background: transparent;
    max-width: fit-content;
    border-radius: 6px;
    font-weight: 600;
    /* box-shadow: 2px 2px 4px 2px rgba(31, 31, 31, 0.15),
                        -2px -2px 5px 2px rgba(236, 236, 236, 0.2); */
}

.contact_btn:hover{
    background-size: 300%;
    background-position: 0% 50%;
    animation: bg_glide 0.7s linear infinite alternate;
}

@keyframes bg_glide {
    from{
        background-position: 50% 50%;
    }to{
        background-position: 100% 50%;
    }
}

.download_btn:hover{
    /* border-color: var(--accent-color-dark); */
    /* color: var(--accent-color-dark); */
    background: var(--secondary-btn-gradient)
}

.contact_btn img{
    filter: invert(1);
}

.contact_btn:hover img{
    animation: point ease 0.3s alternate-reverse 3;
    animation-delay: 0.2s;
}
@keyframes point {
    from{
        transform: translateX(0);
    }to{
        transform: translateX(5px);
    }
}

.intro_img{
    max-width: 320px;
    max-height: 320px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 10% 30% 10% 30%;
    position: relative;
}


.intro_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

.intro_img .adorn{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--accent-color);
    border-radius: 50%;
}

.adorn:first-of-type{
    top: -15%;
    left: -20%;
    z-index: -1;
    background: var(--primary-gradient);
}

.adorn:last-of-type{
    bottom: -20%;
    right: -20%;
    border-radius: 40px;
    background: var(--secondary-gradient);
}

.scroll_down_section{
    display: flex;
    gap: 2px;
    justify-content: flex-start;
    align-items: flex-start;
    cursor:pointer;
    width: max-content;
    padding: 5px;
    margin-bottom: 10px;
}

.scroll_down_section:hover{
    opacity: 0.8;
    animation: bob 0.3s alternate-reverse ease-out infinite;
}

@keyframes bob {
    from{
        transform: translateY(3px);
    }
    to{
        transform: translateY(-3px);
    }
}

.scroll_down_section img{
    width: clamp(25px, 4vw, 30px);
    height: clamp(25px, 4vw, 30px);
    filter: invert(0.2);
}

.scroll_down_section p{
    font-weight: 600;
    font-size: clamp(11px, 2vw, 14px);
    font-family: 'DM Sans';
}


@media screen and (max-width: 1280px) {
    .intro_section{
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    .intro_section .intro_img{
        order: 1;
    }

    .intro_img{
        border-radius: 50%;
    }

    .intro_section .main{
        order: 2;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    header ul{
        display: none;
    }
}

@media screen and (max-width: 580px){
    .container{
        max-width: 90%;
    }
    
    .intro_section .main{
        flex-direction: column;
    }

    .main{
        gap: 20px !important;
    }

    .main .socials{
        flex-direction: row;
        border-left: none;
        gap: 40px;
        /* padding: 20px 40px; */
        align-self: flex-start;
        border-left: 2px solid var(--accent-color);
        border-right: 2px solid var(--accent-color);
        justify-content: center;
        width: 100%;
    }
}