@import url('https://fonts.googleapis.com/css?family=Manrope');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=DM+Sans');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Secular+One');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Cookie');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
@import url('https://fonts.googleapis.com/css2?family=Vesper+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&family=Vesper+Libre&display=swap');



*, *::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
}

html{
    color-scheme: light dark;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    font-smooth: always !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    background: var(--light-bg);
    position: relative;
}

img, svg, picture, video{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

ul{
    list-style-position: inside;
}

.container{
    margin: 0 auto;
    max-width: 80%;
}

:root{
    scroll-behavior: smooth !important;
    --light-bg: #DDD0C8;
    --dark-bg: #1f1f1f;
    --light: #d0d0d0;
    --text-color: #555; 
    --text-pop-color: #444;
    --accent-color: #323232;
    --accent-color-lighter: #6a6a6a;
    --accent-color-darker: #282828;
    --heading-color: #2f2f2f;
    --shade: #b5b5b5;
    --shade-dark: #8f8f8f;
    --shade-trans: hsl(0, 0%, 71%, 0.8);
    --shade-dark-trans: hsl(0, 0%, 56%, 0.8);
    --dark-gradient: linear-gradient(45deg, var(--shade-dark) 5%, var(--text-color) 40%, var(--accent-color));
    --light-gradient: linear-gradient(45deg, var(--shade) 5%, var(--shade-dark) 40%);
    --light-gradient-135: linear-gradient(135deg, var(--shade) 5%, var(--shade-dark) 40%);
    --repeating-gradient: repeating-linear-gradient(-45deg,  var(--shade), var(--shade) 1px, var(--shade-dark) 1px, var(--shade-dark) 2px);
}

h1, h2, h3, h4, h5, h6, b{
    color: var(--heading-color);
    font-family: 'DM Sans';
    font-weight: 600;
}

p, span, i, a, small, li{
    color: var(--text-color);
    font-family: 'Manrope';
    font-weight: 500;
}

a{
    text-decoration: none;
    transition: 0.05s ease;
    font-family: "DM Sans";
}

::placeholder{
    color: var(--text-color);
    font-family: 'Manrope';
    font-weight: 500;
    font-size: clamp(14px, 2vw, 16px);
}

input, textarea{
    color: var(--text-color);
    font-family: 'Manrope';
    font-weight: 500;
    font-size: clamp(14px, 2vw, 16px);
    outline: none;
    background: none;
}

button:disabled{
    opacity: 0.6;
    pointer-events: none;
}

input:invalid{
    border-color: var(--accent-color);
}

*::-webkit-scrollbar{
    width: clamp(6px, 2vw, 8px);
    background: var(--shade-dark);
    border-radius: 4px;
}

*::-webkit-scrollbar-track{
    background: var(--shade-dark);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb{
    background: var(--text-color);
    border-radius: 4px;
}

.in_view{
    color: var(--accent-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* font-family: 'Montserrat'; */
    gap: 40px;
    margin-bottom: clamp(20px, 2vw, 60px) !important;
}

header #header_name{
    font-family: "Montserrat";
    color: var(--accent-color);
}

header a{
    text-decoration: none;
    font-weight: 600;
    color: var(--text-color);
    font-size: clamp(12px, 4vw, 16px);
    transition: 0.05s ease;
}

header ul a:hover{
    color: var(--accent-color);
}

header ul{
    display: flex;
    list-style: none;
    font-weight: 600;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0 40px;
}

header ul li{
    cursor: pointer;
}

#go_up{
    position: fixed;
    z-index: 100;
    bottom: clamp(80px, 4vw, 100px);
    right: clamp(20px, 4vw, 30px);
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background: var(--accent-color);
    padding: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.hide{
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
}

#go_up:hover{
    opacity: 0.9;
}

.hide_flex{
    display: none !important;
}

.bottom_menu{
    position: fixed;
    bottom: 20px;
    right: clamp(20px, 4vw, 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    gap: clamp(22px, 2vw, 48px);
}

.bottom_menu img{
    filter: invert(0.2);
}

.menu_items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(10px, 4vw, 20px);
}

.menu_item{
    visibility: hidden;
    background: var(--shade-trans);
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: inset -1px -1px 4px var(--text-pop-color),
                            inset 2px 2px 4px var(--light),
                            2px 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: all 0.2s ease-out;
}

.active_menu_item{
    background: var(--shade-dark);
    transform: scale(1.2) !important;
}

.show_menu_item{
    animation: show_menu_item 0.2s ease-out forwards;
}

@keyframes show_menu_item {
    0% {
        transform: translateX(10px) scale(0);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateX(0) scale(1);
        opacity: 1;
        visibility: visible;
    }
}

.remove_menu_item{
    animation: remove_menu_item 0.3s ease-out forwards !important;
}

@keyframes remove_menu_item {
    0% {
        transform: translateX(0px) scale(1);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateX(20px) scale(0);
        opacity: 0;
        visibility: hidden;
    }
}

.menu_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    background-color: var(--shade-dark);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: inset -2px -2px 4px var(--text-pop-color),
                            inset 2px 2px 4px var(--light),
                            2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease;
    animation: show_menu_btn 0.2s ease-out forwards;
}

@keyframes show_menu_btn {
    0% {
        transform: translateY(10px) scale(0);
        opacity: 0;
        visibility: hidden;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
        visibility: visible;
    }
}

.hide_menu_btn{
    animation: remove_menu_btn 0.3s ease-out forwards !important;
}

@keyframes remove_menu_btn {
    0% {
        transform: translateY(0px) scale(1);
        opacity: 1;
        visibility: visible;
    }
    100% {
        transform: translateY(10px) scale(0);
        opacity: 0;
        visibility: hidden;
    }
}
    

.menu_item img, .menu_btn img{
    width: 30px;
    height: 30px;
}

.open{
    transform: rotate(360deg);
}




/* INTRO SECTION */

.intro_section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    gap: clamp(32px, 6vw, 76px);
    margin-block: 20px;
    opacity: 0;
    transform: translateY(-50px);
}

.show_intro{
    animation: drop_down 1s ease-out forwards;
}

@keyframes drop_down {
    from{
        opacity: 0;
        transform: translateY(-50px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}

.intro_section .main{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: clamp(32px, 2vw, 76px);
}

.socials{
    display: flex;
    flex-direction: column;
    gap: 20px clamp(10px, 2vw, 20px);
    padding: 20px;
    border-left: 2px solid var(--text-pop-color);
    overflow-x: auto;
    opacity: 0;
    transform: rotateY(-90deg) skewY(10deg) translateX(-100%);
}

.show_intro .socials{
    animation: show_socials 1s ease forwards 0.5s;
}

@keyframes show_socials {
    from{
        opacity: 0;
        transform: rotateY(-90deg) skewY(10deg) translateX(-100%);
    }to{
        opacity: 1;
        transform: rotateY(-0deg) skewY(0deg) translateX(0%);
    }
}

.socials img{
    width: 25px;
    height: 25px;
    filter: invert(0.5);
    transition: 0.1s ease;
    cursor: pointer;
}
.socials img:hover{
    filter: invert(0.2);
}


.intro_content{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px 10px;
}

.intro_content h1{
    font-size: clamp(28px, 4vw, 60px);
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: max-content;
}

.intro_content h3{
    font-size: clamp(16px, 4vw, 22px);
    color: var(--text-pop-color);
    margin-bottom: 16px;
}

.intro_content p{
    font-size: clamp(14px, 2vw, 16px);
    margin-bottom: 20px;
    line-height: 1.6;
}

.intro_content .btns{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 14px clamp(8px, 2vw, 14px);
    padding: 10px 0;
}

.intro_content .contact_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor:  pointer;
    background: var(--accent-color);
    padding: 10px 20px;
    color: #fff;
    max-width: fit-content;
    border-radius: 6px;
    font-weight: 600;
    font-size: clamp(14px, 2vw, 16px);
    box-shadow: 2px 2px 4px 2px rgba(31, 31, 31, 0.15),
                        -2px -2px 5px 2px rgba(236, 236, 236, 0.2),
                        inset 2px 2px 5px var(--shade-dark);
}

.intro_content .download_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--accent-color);
    background: transparent;
    padding: clamp(8px, 2vw, 10px) clamp(15px, 2vw, 20px);
    font-size: clamp(14px, 2vw, 16px);
    color: var(--accent-color);
    background: transparent;
    max-width: fit-content;
    border-radius: 6px;
    font-weight: 600;
    /* box-shadow: 2px 2px 4px 2px rgba(31, 31, 31, 0.15),
                        -2px -2px 5px 2px rgba(236, 236, 236, 0.2); */
}

/* .contact_btn:hover{
    background-size: 300%;
    background-position: 0% 50%;
    animation: bg_glide 0.7s linear infinite alternate;
}

@keyframes bg_glide {
    from{
        background-position: 50% 50%;
    }to{
        background-position: 100% 50%;
    }
} */

.contact_btn:active{
    transform: scale(0.95);
}

.download_btn:hover{
    opacity: 0.8;
}

.contact_btn img{
    filter: invert(1);
}


.intro_img{
    max-width: 320px;
    max-height: 320px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 5%;
    position: relative;
    background: transparent;
}


.intro_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
    /* filter: grayscale(1); */
}

.intro_img .adorn{
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: var(--accent-color);
    border-radius: 50%;
}


.scroll_down_section{
    display: flex;
    gap: 2px;
    justify-content: flex-start;
    align-items: flex-start;
    cursor:pointer;
    width: max-content;
    padding: 5px;
    margin-bottom: 10px;
    animation: bob 0.3s alternate-reverse ease-out 20;
}


.scroll_down_section img{
    width: clamp(25px, 4vw, 30px);
    height: clamp(25px, 4vw, 30px);
    filter: invert(0.2);
}

.scroll_down_section p{
    font-weight: 600;
    font-size: clamp(11px, 2vw, 14px);
    font-family: 'DM Sans';
}

/* ABOUT SECTION */

.about_section{
    display: flex;
    flex-direction: column;
    gap: clamp(30px, 4vw, 60px);
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    margin-bottom: clamp(48px, 4vw, 72px);
}

.section_head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section_head h1{
    font-size: clamp(24px, 4vw, 54px);
    margin-bottom: 12px;
}

.section_head p{
    font-size: clamp(16px, 2vw, 18px);
}

.about_section .section_content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 80%;
    max-width: 1440px;
}

.about_img{
    width: 300px;
    height: 350px;
    border-radius: 2px;
    position: relative;
}

.about_img img{
    object-fit: cover;
    object-position: center;
}

.frame{
    border: 1.5px solid var(--light);
    border-radius: 4px;
    width: 95%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about_content{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: clamp(40px, 4vw, 50px);
}

.about_content > p{
    text-align: left;
    line-height: 1.6;
    font-size: clamp(14px, 2vw, 18px);
}

.trophies{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: clamp(20px, 2vw, 40px);
}

.trophy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--repeating-gradient);
    border-radius: 6px;
    padding: 10px;
    flex: 1;
    max-width: 150px;
    opacity: 0;
    filter: blur(4px);
}

.show_trophy{
    animation: show_trophy 0.5s ease-out forwards;
}
@keyframes show_trophy {
    from{
        transform: translateX(-100px);
        opacity: 0;
        filter: blur(4px);
    }to{
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
    }
}

.trophy h2{
    font-size: clamp(20px, 2vw, 28px);
    font-family: 'Montserrat';
    text-align: center;
}

.trophy p{
    text-align: center;
    font-size: clamp(12px, 2vw, 14px);
}

/* SKILLS SECTION */

.sq_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(30px, 4vw, 60px);
    width: 80%;
    margin: 0 auto;
    margin-bottom: 60px;
    position: relative;
}

.tab_switcher{
    position: relative;
    width: 400px;
    max-width: 100%;
    height: clamp(50px, 4vw, 60px);
    /* margin-bottom: 40px; */
    background: var(--shade-dark);
    border-radius: 8px;
}

.tab_labels{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 6px;
    box-shadow: inset -2px -2px 4px var(--text-pop-color),
                            inset 2px 2px 4px var(--light);
}

.tab_indicator{
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    width: 50%;
    height: 86%;
    background: var(--accent-color);
    box-shadow: inset -2px -2px 4px var(--text-pop-color),
                        inset 2px 2px 4px var(--heading-color),
                        2px 0px 4px var(--text-color),
                        -2px 0px 4px var(--text-color);

    border-radius: 6px;
    transition: transform 0.3s ease-out;
}

.label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-weight: 600;
    color: var(--text-pop-color);
    font-family: 'Montserrat';
    font-size: clamp(14px, 4vw, 18px);
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.active_tab{
    color: var(--light) !important;
}

.move_right{
    transform: translate(96%, -50%) !important;
}

.skills_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    animation: from_bottom 0.3s ease-in forwards;
}

.from_bottom{
    animation: from_bottom 0.3s ease-in forwards;
}

@keyframes from_bottom {
    from{
      opacity: 0;
      transform: translateY(20px);  
    }to{
        opacity: 1;
        transform: translate(0);
    }
}

.skill{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    max-width: 700px;
    gap: 20px;
    margin-bottom: 40px;
    opacity: 0;
}

.slide_up{
    animation: slide_up 0.5s ease-out forwards;
}

@keyframes slide_up {
    from{
        opacity: 0;
        transform: translateY(50px);
    }to{
        opacity: 1;
        transform: translateY(0);
    }
}

.skill_head{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    width: 100%;
    /* border: 1px solid var(--accent-color); */
    gap: 14px;
    cursor: pointer;
}

.skill_head div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: auto;
}

.skill_head div h3{
    font-size: clamp(16px, 4vw, 20px);
    color: var(--text-pop-color);
}

.skill_head div p{
    font-size: clamp(12px, 2vw, 14px);
}

.skill_head > img{
    filter: invert(0.2);
}

.flip{
    transition: transform 0.2s ease-in;
    transform: rotate(180deg) !important;
}

.skill_body{
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    animation: drop 0.3s ease-in-out forwards;
}

@keyframes drop {
    from{
        opacity: 0;
        transform: translateY(-20px);
    }to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.skill_item{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* border: 1px solid var(--accent-color); */
    padding: 5px;
}


.skill_item .item_head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.item_head h4{
    font-size: clamp(14px, 4vw, 16px);
}

.item_head p{
    font-family: 'Montserrat';
    font-size: clamp(14px, 4vw, 16px);
    font-weight: 600;
}

.proficiency_indicator{
    width: 100%;
    height: 8px;
    background-color: var(--light);
    border-radius: 100vmax;
    position: relative;
    box-shadow: inset 4px 3px 2px var(--shade);
}

.proficiency_indicator .indicator{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    background: var(--dark-gradient);
    border-radius: inherit;
    box-shadow: inset 4px 3px 4px var(--shade-dark);
    animation: indicator_anim 1s ease-out forwards;
}

.show_dropdown{
    display: flex !important;
}

@keyframes indicator_anim {
    from{
        width: 0%;
    }
    to{
        width: ;
    }
}


/* QUALIFICATIONS SECTION */
.qualifications_section{
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    animation: from_bottom 0.3s ease-in forwards;
}

.q_head{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
}

.q_head p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: clamp(16px, 4vw, 18px);
    font-family: 'DM Sans';
    cursor: pointer;
    padding: 5px 0;
}


.active_sub_tab{
    font-weight: 600;
    color: var(--heading-color);
    border-bottom: 2px solid var(--heading-color);
}

.active_sub_tab img{
    filter: invert(0) !important;
}

.q_head p img{
    filter: invert(0.2);
}

.q_section{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 40px clamp(24px, 4vw, 32px);
}

.event{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.event h3{
    font-size: clamp(14px, 4vw, 16px);
    margin-bottom: 5px;
}

.event p{
    font-size: clamp(12px, 4vw, 15px);
    margin-bottom: 14px;
}

.event small{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: clamp(10px, 4vw, 12px);
}

.event small img{
    filter: invert(0.5);
}

.qualifications_section #education{
    animation: from_left 0.3s ease-out forwards;
}

@keyframes from_left {
    from{
        opacity: 0;
        transform: translateX(-20px);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}

.qualifications_section #work{
    display: none;
    animation: from_right 0.3s ease-out forwards;
}

@keyframes from_right {
    from{
        opacity: 0;
        transform: translateX(20px);
    }to{
        opacity: 1;
        transform: translateX(0);
    }
}

.show_flex{
    display: flex !important;
}

/* SERVICES SECTION */

.services_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    gap: clamp(30px, 4vw, 60px);
    margin-bottom: 80px;
}

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 40px;
    padding: 0 clamp(10px, 4vw, 20px);
    width: 100%;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 260px;
    width: 100%;
    max-width: 300px;
    background-color: var(--shade);
    border-radius: 6px;
    opacity: 0;
    box-shadow: none;           
    padding: 20px;
    position: relative;
    transition: all 1s ease-in-out;
}

.opacify{
    opacity: 1 !important;
    box-shadow: inset -2px -2px 4px var(--text-pop-color),
                        inset 2px 2px 4px var(--light) !important;

}

.service::before{
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--shade-dark);
    border-radius: 50px;
    opacity: 0.2;
    filter: blur(4px);
    z-index: -1;
    transform: translate3d(0, 55%, 20px) scaleY(0.07) rotate3d(1, 0, 0, 70deg) skew(-3deg);
}

.service img{
    filter: invert(0.2);
}

.service .symbol{
    margin-bottom: 40px;
}

.service h3{
    font-size: clamp(18px, 4vw, 20px);
    margin-bottom: 14px;
}

.service p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    font-size: clamp(12px, 4vw, 14px);
    cursor: pointer;
}

.more_info{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    transform: translate(-50%, -50%);
    width: 88%;
    max-width: 600px;
    height: minmax(300px, 80vh);
    max-height: 80vh;
    background: var(--light);
    border-radius: 6px;
    box-shadow: 0 0 0 100vmax rgba(31, 31, 31, 0.35),
                        0 0 20px 10px rgba(31, 31, 31, 0.15);
    padding: 40px clamp(24px, 4vw, 40px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: clamp(14px,2vw, 20px);
    animation: show_more_info 0.3s ease-out forwards;
}

@keyframes show_more_info {
    from{
        opacity: 0;
        transform: translate(-50%, -40%);
    }
    to{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

.remove_more_info{
    animation: remove_more_info 0.3s ease-out forwards;
}

@keyframes remove_more_info {
    from{
        opacity: 1;
        transform: translate(-50%, -50%);
    }
    to{
        opacity: 0;
        transform: translate(-50%, -40%);
    }
}

.info_title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.more_info ul{
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2vw, 20px);
    list-style: none;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: inherit;
    padding-right: 20px;
}

.more_info ul li{
    font-size: clamp(12px, 4vw, 18px);
    /* border-left: 2px solid var(--accent-color); */
    background: url(./images/check.svg) no-repeat;
    padding-left: 30px;
}



.info_title img{
    cursor: pointer;
}

.info_title img:hover{
    transform: scale(1.1);
}

.stop_scroll{
    overflow: hidden !important;
    height: 100% !important;
}

/* PORTFOLIO SECTION */
.portfolio_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: minmax(700px, 80%);
    max-width: 1000px;
    margin: 0 auto;
    gap: clamp(30px, 4vw, 60px);
    margin-bottom: 60px;
}

.carousel_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.carousel_body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    width: 100%;
}

.carousel_nav{
    width: clamp(40px, 4vw, 60px);
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_nav img{
    width: 100%;
    height: clamp(40px, 4vw, 60px) !important;
    cursor: pointer;
    filter: invert(0.2);  
    transition: all 0.2s ease-in-out;
}


.carousel{
    flex: 1;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    /* pointer-events: none; */
    /* position: relative; */
    height: 100%;
    border: var(--text-pop-color) 1.5px solid;
    border-radius: 10px;
    scroll-behavior: smooth !important;
    scroll-snap-type: x mandatory !important;
}

.carousel::-webkit-scrollbar{
    display: none !important;
}

.carousel_item{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    gap: clamp(10px, 4vw, 40px);
    padding: clamp(16px, 2vw, 20px);
    border-radius: 10px;
    scroll-snap-align: center !important;
    scroll-snap-stop: always !important;
}

.carousel_item_img{
    position: relative;
    flex-basis: 50%;
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    isolation: isolate;
}

.carousel_item_img img{
    max-height: 300px;
    object-fit: cover; 
    object-position: center;
    border-radius: inherit;
}

.carousel_item_img .img_overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(31, 31, 31, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: clamp(10px, 4vw, 30px) clamp(10px, 4vw, 20px);
    border-radius: inherit;
}

.img_overlay h3{
    font-size: clamp(14px, 4vw, 20px);
    color: var(--light);
}

.img_overlay p{
    font-size: clamp(10px, 4vw, 14px);
    color: var(--light);
}

.img_overlay a {
    width: clamp(20px, 4vw, 30px);
    height: clamp(20px, 4vw, 30px);
    position: absolute;
    top: 10%;
    right: 5%;
}

.img_overlay a img{
    filter: invert(1);
    cursor: pointer;
}

.img_overlay a:hover img{
    filter: invert(0.7);
}

.carousel_item_body{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: clamp(5px, 2vw, 14px);
}

.carousel_item_body h3{
    font-size: clamp(14px, 2vw, 18px);
}

.carousel_item_body p{
    font-size: clamp(11px, 2vw, 16px);
    line-height: 1.5;
}

.carousel_item_body a{
    font-size: clamp(11px, 2vw, 16px);
    padding: 10px;
    background-color: var(--accent-color);
    color: var(--light);
    border-radius: 6px;
    box-shadow: inset 2px 2px 4px var(--text-color),
                        inset -2px -2px 4px var(--dark-bg);
}

.carousel_item_body a:hover{
    opacity: 0.9;
}

.carousel_item_body a:active{
    transform: scale(0.97);
}



.carousel_indicator{
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(5px, 4vw, 8px);
}

.carousel_dot{
    width: clamp(10px, 2vw, 15px);
    height: clamp(10px, 2vw, 15px);
    border-radius: 50%;
    background-color: var(--shade);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.carousel_dot:hover{
    background-color: var(--shade-dark);
}

.active_dot{
    background: var(--text-pop-color) !important;
    transform: scale(1.1);
}

/* CALL TO ACTION SECTION */

.call_to_action{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 60px;
    background: var(--light-gradient-135);
    border-radius: clamp(6px, 2vw, 20px);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 clamp(20px, 4vw, 40px);
}

.call_to_action_body{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: clamp(20px, 4vw, 24px);
}

.call_to_action_body h3{
    font-size: clamp(18px, 4vw, 26px);
    font-weight: 600;
}

.call_to_action_body p{
    color: var(--heading-color);
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 600;
}

.call_to_action_body a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px clamp(10px, 2vw, 20px);
    gap: 5px;
    color: var(--light);
    background: var(--accent-color);
    border-radius: 6px;
    cursor: pointer;
    font-size: clamp(14px, 4vw, 18px);
    box-shadow: inset -2px -2px 4px var(--dark-bg),
                            inset 2px 2px 4px var(--text-color);           
}

.call_to_action_body a:hover img{
    animation: point ease 0.3s alternate-reverse 3;
    animation-delay: 0.2s;
}

.call_to_action_img{
    flex-basis: 50%;
    height: 300px;
}

.call_to_action_img img{
    object-fit: contain;
    object-position: bottom;
}

/* TESTIMONIALS SECTION */

.testimonials_section{
    width: min(80%, 1000px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(30px, 4vw, 60px);
    margin-bottom: 80px;
}

.testimonials{
    width: 100%;
    /* height: 250px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(10px, 4vw, 20px);
    overflow-x: auto;
    overflow-y: hidden;
    padding: clamp(0px, 2vw, 40px);
    scroll-snap-type: x mandatory;
    scroll-padding-inline: auto;
    scroll-behavior: smooth;
}

.testimonials::-webkit-scrollbar{
    display: none !important;
}

.testimonial{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    min-width: 380px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    border: 2px solid var(--shade-dark);
    background: var(--shade-trans);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 2px 8px 6px rgba(31, 31, 31, 0.15);
}

.enlarge{
    transform: scale(1.05);
}

.testifier_details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: max-content;
}

.testifier_details img{
    width: clamp(40px, 4vw, 55px);
    height: clamp(40px, 4vw, 55px);
    border-radius: 50%;
    background: var(--shade-dark);
}

.testifier_details div{
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.testifier_details div h3{
    font-size: clamp(16px, 4vw, 18px);
    font-weight: 600;
}

.testifier_details div p{
    font-size: 14px;
}

.testimony{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.testimony small{
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 600;
    font-family: 'DM Sans';
}

.testimony p{
    line-height: 1.4;
    font-size: clamp(12px, 2vw, 16px);
}

/* CONTACT SECTION */
.contacts_section{
    width: 80%;
    /* max-width: 1000px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(30px, 4vw, 60px);
    margin-bottom: 60px;
}

.contacts_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px clamp(20px, 4vw, 60px);
    padding: clamp(0px, 4vw, 20px);
}

.contacts{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: minmax(25%, 500px);
    min-width: max-content;
    gap: 40px;
}

.contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(8px, 4vw, 10px);
    width: 100%;
}

.contact img{
    width: clamp(40px, 4vw, 55px);
    height: clamp(40px, 4vw, 55px);
    border-radius: 50%;
    filter: invert(0.3);
}

.contact div{
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.contact div h3{
    font-size: clamp(16px, 4vw, 18px);
    font-weight: 600;
}

.contact div a{
    font-size: 14px;
}

.contact div a:hover{
    text-decoration: underline;
}

.contact_form{
    flex: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact_form .form_group{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: clamp(20px, 4vw, 25px);
}

.form_group input{
    flex: 1;
    min-width: 240px;
}

.contact_form input{
    outline: none;
    border: 1px var(--shade) solid;
    border-radius: 4px;
    background-color: var(--light);
    height: 50px;
    padding: 10px;
}

.contact_form textarea{
    outline: none;
    border: 1px var(--shade) solid;
    border-radius: 4px;
    background-color: var(--light);
    height: 250px;
    padding: 10px;
    resize: none;
}

.contact_form button{
    width: max-content;
    padding: clamp(10px, 4vw, 15px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: clamp(16px, 4vw, 18px);
    font-weight: 600;
    font-family: 'DM Sans';
    background: var(--accent-color);
    color: var(--light);
    box-shadow: inset -2px -2px 4px var(--dark-bg),
                            inset 2px 2px 4px var(--text-color);
    cursor: pointer; 
    position: relative;          
}

.contact_form button img{
    filter: invert(0.8);
}


.sending::before{
    content: "Sending message...";
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: inherit;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--dark-gradient);
    border-radius: inherit;
    animation: flow 1s ease alternate-reverse infinite;
    background-size: 200%;
}

@keyframes flow {
    from{
        background-position: 0% 50%;
    }to{
        background-position: 100% 50%;
    }
}

.contact_form button:active{
    transform: scale(0.95);
}


/* FOOTER */
footer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px clamp(0px, 2vw, 20px);
}

footer .copy{
    font-size: clamp(12px, 2vw, 16px);
    opacity: 0.5;
    font-weight: 600;
}

.footer_main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 40px;
}

.footer_main .descr{
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: flex-start;
}

.descr h3{
    font-size: clamp(16px, 2vw, 20px);
}

.descr p{
    font-size: clamp(14px, 2vw, 16px);
}

.footer_main .social_share{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 6px;
}

.social_share p{
    font-size: clamp(14px, 2vw, 18px);
    font-weight: 600;
}

.social_share .share{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.share a img{
    filter: invert(0.3);
}

/* MEDIA QUERIES */
@media (hover:hover){
    .menu_item:hover{
        background: var(--shade-dark-trans);
        transform: scale(1.1);
    }

    .contact_btn:hover img{
        animation: point ease 0.3s alternate-reverse 3;
        animation-delay: 0.2s;
    }
    @keyframes point {
        from{
            transform: translateX(0);
        }to{
            transform: translateX(5px);
        }
    }

    .scroll_down_section:hover{
        animation: bob 0.3s alternate-reverse ease-out infinite;
    }
    
    @keyframes bob {
        from{
            transform: translateY(3px);
        }
        to{
            transform: translateY(-3px);
        }
        
    }    
    
    .q_head p:hover{
        border-bottom: 2px solid var(--text-color);
    }

    .carousel_nav img:hover{
        transform: scale(1.1);
        filter:  invert(0.1);
    }
    
    
}

@media screen and (max-width: 1280px) {
    .intro_section{
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }

    .intro_section .intro_img{
        order: 1;
    }

    .intro_img{
        border-radius: 50%;
    }

    .intro_section .main{
        order: 2;
        width: 100%;
    }

}

@media screen and (max-width: 900px) {
    header ul{
        display: none;
    }

    .about_section .section_content{
        flex-direction: column;
    }
    .about_img{
        width: 80%;
    }
    .about_content{
        width: 100%;
    }
}

@media screen and (max-width: 828px) {
    .carousel_body{
        height: auto;
    }

    .carousel_item{
        flex-direction: column;
    }

    .carousel_item_img, .carousel_item_body{
        width: 100%;
    }

    .call_to_action{
        width: 90%;
        padding-block: 40px;
    }

    .call_to_action_img{
        display: none;
    }

    .call_to_action_body{
        flex-basis: 100%;
    }

    .contacts_section{
        width: 100% !important;
    }

    .contacts_container{
        padding: 0;
    }
}

@media screen and (max-width: 726px) {
    .sq_section{
        width:100%;
    }

    .services{
        flex-direction: column;
    }
}

@media screen and (max-width: 580px){
    .container{
        max-width: 90%;
    }

    .intro_section .main{
        flex-direction: column;
    }

    .intro_img{
        max-width: 250px;
        max-height: 250px;
    }
    .main{
        gap: 20px !important;
    }

    .main .socials{
        flex-direction: row;
        border-left: none;
        /* gap: 20px; */
        padding: 14px 20px;
        align-self: flex-start;
        border-left: 2px solid var(--text-color);
        border-right: 2px solid var(--text-color);
        justify-content: space-evenly;
        width: 100%;
        transform: rotateX(-90deg) skewX(2deg) translateY(100%);
    }

    @keyframes show_socials {
        from{
            opacity: 0;
            transform: rotateX(-90deg) skewX(2deg) translateY(100%);
        }to{
            opacity: 1;
            transform: rotateX(-0deg) skewX(0deg) translateY(0%);
        }
    }

    .about_section .section_content{
        width: 90%;
    }

    .about_img{
        width: 100%;
    }

    .skills_section{
        width: 90%;
    }

    .trophy{
        max-width: 100px;
    }

    .services_section{
        width: 100%;
    }

    .bottom_menu, .menu_items{
        flex-direction: column;
    }

    #go_up{
        bottom: 20px;
        left: 20px;
    }

    @keyframes remove_menu_item {
        0% {
            transform: translateY(0px) scale(1);
            opacity: 1;
            visibility: visible;
        }
        100% {
            transform: translateY(20px) scale(0);
            opacity: 0;
            visibility: hidden;
        }
    }

    .testimonials_section{
        width: 100%;
    }

    .testimonial{
        min-width: 280px;
    }

    .contacts{
        width: 100%;
    }
}

@media screen and (max-width: 300px){
    .trophies{
        flex-direction: column;
    }

    #go_up{
        width: 28px;
        height: 28px;
        bottom: 70px;
    }

    .bottom_menu{
        /* right: 5px; */
        gap: 16px;
    }

    .menu_items{
        gap: 5px;
    }

    .menu_item img, .menu_btn img{
        width: 22px;
        height: 22px;
    }

    .testimonial{
        min-width: 250px;
    }
}